body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border: 2px solid #bcb8b1;
    border-radius: 9px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #8fb996;
    color: #111d13;
    border-bottom: 6px solid #415d43;
    animation-name: first;
    animation-duration: 5s;
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes first{
    0% {background-color: #074b2a}
    20% {background-color: #155534}
    40% {background-color: #225e3d}
    60% {background-color: #3c7150}
    80% {background-color: #568463}
    90% {background-color: #709775}
    95% {background-color: #80a886}
    100% {background-color: #8fb996}
}